@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@* 
    @model ディレクティブで、コントローラから受け取ったモデルの型を指定しておく
    IEnumerable にしておくことで、foreach でループさせることができる
*@
@model IEnumerable<QuickMaster.Models.Book>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<table class="table">
    <thead>
        <tr>
            <th>書名</th>
            <th>価格</th>
            <th>出版社</th>
            <th>配布サンプル</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach() ディレクティブで繰り返し処理も記述できる *@
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Price</td>
                <td>@item.Publisher</td>
                <td>@item.Sample</td>
            </tr>
        }

    </tbody>
</table>